<div class="row">
  <div class="col-6">
    <mat-card>
      <mat-card-header>My Transport</mat-card-header>
      <mat-card-content>
        <mat-list-item>Transport ID - {{transport.id}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Transport Name - {{transport.name}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Transport number plate - {{transport.numberPlate}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Transport Type - {{transport.transportType}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Transport Creation Time - {{transport.creationTime}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Transport Modification Time - {{transport.modificationTime}}</mat-list-item>
        <mat-divider></mat-divider>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6">
    <mat-card>
      <mat-card-header>My Route</mat-card-header>
      <mat-card-content>
        <mat-list-item>Route ID - {{route.id}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Route Name - {{route.name}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Route Number - {{route.routeNumber}}</mat-list-item>
        <mat-divider></mat-divider>
      </mat-card-content>
    </mat-card>
  </div>
</div>




