<div class="container-assign">
  <h1>Transport</h1>
  <mat-card class="container-assign">
    <h2>ID - {{data.id}}</h2>
    <h2>Name - {{data.name}}</h2>
  </mat-card>
  <div class="row">
    <div class="col-6">
      <form class="container-assign">
        <h1>Assing User</h1>
        <mat-form-field>
          <mat-label [hidden]="!disableSelect">Choose User</mat-label>
          <mat-select [(ngModel)]="selectedUserEmail" name="userEmail" [disabled]="disableSelect">
            <mat-option *ngFor="let user of userArray" [value]="user.email">
              {{user.email}}
            </mat-option>
          </mat-select>
          <mat-label [hidden]="disableSelect">No available user</mat-label>
        </mat-form-field>
        <button mat-raised-button (click)="assignUser(selectedUserEmail, data.id)">Assign</button>
      </form>
      <h3>{{selectedUserEmail}}</h3>
    </div>

    <div class="col-6">
      <form class="container-assign">
        <h1>Assing Route</h1>
        <mat-form-field>
          <input [(ngModel)]="email" matInput placeholder="Email">
        </mat-form-field>
        <button mat-raised-button (click)="search()">Search</button>
      </form>
    </div>
  </div>
</div>
